<article{{ attributes.addClass("row") }}>
    {% if content.field_image is not empty %}
        <div class="col-xs-12 col-sm-4">
            <a href="{{ url }}">{{ content.field_image }}</a>
        </div>
        <div class="col-xs-12 col-sm-8">
    {% else %}
        <div class="col-xs-12">
            <div class="text">
                <h3><a href="{{ url }}">{{ label }}</a></h3>
                {% if content.field_date is not empty %}
                    <div class="date">
                        {{ content.field_date }}
                    </div>
                {% endif %}
                {{ content.body }}
                <a href="{{ url }}" class="btn red small" aria-label="{{ label.0 }}">Read More</a>
            </div>
        </div>
    {% endif %}
</article>